header{
	width: 1200px;
	margin: 0 auto;
}
.bottom{
	width:1115px;
	margin: 0 auto;
}
/*banner图*/
.banner{
	position: relative;
}
.banner>img{
	width: 100%;
	border-bottom: 1px solid #fdf1bf;
	/*height:400px ;*/
	height: 100%;
}
.banner .block{
	position: absolute;
	top: 0;
	/*height: 400px;*/
	height: 100%;
	background: rgba(0,0,0,.5);
	width: 100%;
}
.banner .center{
	position: absolute;
	top: 0;
	color: #fff;
	width: 680px;
	left: 50%;
	top: 50%;
	margin-left: -340px;
	margin-top: -35px;
}
.banner .line .line_right{
	width: 284px;
	height: 1px;
	background: #fff;
}
.banner .line{
	height: 35px;
	font-size: 28px;
}
.banner .line:nth-child(1){
	float: right;
}
.banner .line span{
	display: inline-block;
	vertical-align: middle;
}
/*卡布基诺内容*/
.capp_content,.capp{
	width: 996px;
	margin: 0 auto;
}
.capp{
	margin-top: 36px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #d5d5d5;
}
.capp span{
	width: 2px;
	height: 9px;
	background: #866961;
	position: absolute;
	top: 5px;
}
.capp .capp_left h3{
	float: left;
	margin-left: 7px;
	font: 400 16px/1 "";
	cursor: pointer;
}
.capp .capp_left h3.active{
	color: blue;
}
.capp p{
	clear: left;
	color: #b8b8b8;
	font-size: 12px;
}
.capp .capp_right a{
	display:inline-block;
	text-decoration: none;
	color: #333;
	font-size: 12px;
}
.capp .capp_right a.active{
	color: #a9a9a9;
}
.capp .capp_left{
	float: left;
}
.capp .capp_right{
	float: right;
}
/*capp的内容*/
.content{
	position: relative;
	overflow: hidden;
	height: 504px;
	
}
.capp_content{
	margin-top: 25px;
	overflow: hidden;
	position: absolute;
	right: 0;
	left: 0;
	opacity: 0;
	transition:all 0.5s;
}
.capp_content.active{
	opacity: 1;
}
.capp_content img{
	width: 428px;
	height: 504px;
	float: left;
	margin-right: 30px;
}
.capp_content p{
	width: 534px;
	float: right;
	font: 14px/30px "微软雅黑";
	text-align: justify;
	color:#494949;
	text-indent: 2em;
	margin-bottom: 30px;
}
